/*$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;*/

$primary: #007EA7;
$btn-border-radius: 12px;
$headings-font-family : 'Ubuntu-Bold', sans-serif;
$headings-color: #003459;
$font-family-base: 'Lexend Deca', sans-serif;
$body-color: rgba(0, 23, 31, 0.8);
